/*
Breakpoints: 
320px - 375px; GREEN
376px - 667px; YELLOW
667px - 1024px; RED
1024px - 1600px; BLUE
*/
body{
	background-color: #CE20AB;
}
h1{
	font-family: 'Baloo Tamma', cursive;
	font-size: 200px;
	text-align: center;
	margin-top: 50px;
}
@media (min-width: 320px) and (max-width: 375px){
	body{
		background-color: #2f7c11;
	}
	h1{
		font-size: 40px;
	}
}
@media (min-width: 376px) and (max-width: 667px){
	body{
		background-color: yellow;
	}
	h1{
		font-size: 80px;
	}
}
@media (min-width: 667px) and (max-width: 1024px){
	body{
		background-color: red;
	}
}
@media (min-width: 1024px) and (max-width: 1600px){
	body{
		background-color: blue;
	}
}
